<ion-header>
  <ion-toolbar>
    <ion-title>Votre profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label stacked>Nom : Dupont</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Prénom : Jean</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Pseudo : JeanD</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date de naissance : 19/03/1999</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Adresse mail : Jean.d@gmail.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Adresse : 37 rue du parc des peres, 17000, La Rochelle</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mot de passe : ******</ion-label>
    </ion-item>

    <ion-button expand="block">
      Modifier votre profil
    </ion-button>
  </form>
</ion-content>
