<ion-header>
  <ion-toolbar>
    <ion-title>Creer votre profil utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label stacked>Nom :</ion-label>
      <ion-input
        type="text"
        placeholder="Dupont"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Prénom :</ion-label>
      <ion-input
        type="text"
        placeholder="Jean"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Pseudo : </ion-label>
      <ion-input
        type="text"
        placeholder="JeanD"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date de naissance : </ion-label>
      <ion-input
        type="text"
        placeholder="19/03/1999"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Adresse mail : </ion-label>
      <ion-input
        type="text"
        placeholder="Jean.d@gmail.com"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Adresse : </ion-label>
      <ion-input
        type="text"
        placeholder="37 rue du parc des peres, 17000, La Rochelle"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mot de passe : </ion-label>
      <ion-input
        type="password"
        placeholder="********"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Confirmez votre mot de passe : </ion-label>
      <ion-input
        type="password"
        placeholder="********"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block">
      Valider
    </ion-button>
  </form>
</ion-content>
