<ion-header>
  <ion-toolbar>
    <ion-title>Connectez vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label stacked>Pseudo :</ion-label>
      <ion-input
        type="text"
        placeholder="JeanD"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mot de passe : </ion-label>
      <ion-input
        type="password"
        placeholder="********"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block">
      Connexion
    </ion-button>
  </form>
</ion-content>
