<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mini chat Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Créer un compte</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/create-user">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Modifier votre profil</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/detail-user">
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Se connecter</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/connect-user">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-content>
